.Footer{
    box-sizing: border-box;
    width: 100vw;
    height: 8vh;
    background-color: var(--dark-base);
    padding: 1rem 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Name{
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--green);
}
.Copyright{
    color: white;
}