.imgSection{
    background-image: url("https://res.cloudinary.com/dkoxgwtku/image/upload/v1678038333/A_cover_art_of_A_shining_city_with_tall_technologi_1_hjdvst.jpg");
    background-size: cover;
    width: 100vw;
    height: 50vh;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    padding: 0rem 14rem;
    box-sizing: border-box;
}
.Card {
    width: 14rem;
    height: 16rem;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid White;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.Card__number{
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    font-size: 4.5rem;
    font-weight: 600;
    color: white;
}
.Card__heading{
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    font-size: 2rem;
    font-weight: 600;
    color: white;
}
.marketplaceContent{
    display: flex;
    flex-direction: column;
    padding: 0 6rem 3rem;
    gap: 1rem;
}

.selectedCat {
    font-size: 2rem;
    font-weight: 600;
    color: white;
    margin-bottom: 1rem;
}
/* .marketplaceCategories{
    display: flex;
    flex-direction: row;
    color: white;
} */
.marketplaceNFTs{
    display: grid;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    /* justify-content: start; */
    grid-template-columns: repeat(auto-fill, 12rem);
    gap: 2rem;
}

/* toggle btns */

.toggleBtns {
    display: flex;
    justify-content: start;
    margin: 2rem 0;
    /* position: relative;
    margin-bottom: -7vh; */
 }
 
 .toggleBtn {
    padding: 0.6rem 2em;
    font-size: 1.1em;
    /* font-weight: 600; */
    color: white;
    background: var(--dark-base);
    border-radius: 0.5rem;
    outline: none;
    border: none;
    cursor: pointer;
 }
 
 .toggleBtn:hover {
    /* outline: solid 2px white; */
    outline: solid 2px var(--green);
 }
 
 .toggleBtn:not(.toggleBtn:nth-child(1)) {
    /* background: white; */
    margin-left: 1rem;
 }
 
 .activeBtn {
    background: var(--green);
    color: black;
    font-weight: 600;
 }

 .nothingToShow {
     /* margin-top: 3rem; */
     /* width: 100%;
     height: 100%;
     width: 80vw;
     height: 60vh; */
    }
    
    .nothingToShow__container {
    /* width: 80vw;
    height: 60vh; */
    width: 80vw;
     margin-top: 1rem;
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 2rem;

 }

 .nothingToShow__text {
    /* position: absolute; */
    font-size: 3rem;
    color: white;
    text-align: center;
 }

 .modalContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    height: 100%;
 }

 .ratetext {
    color: gray;
    font-size: 1.2rem;
 }

 .stars {
    /* width: 100%; */
    /* background: #ffffff22; */
    margin: 0 auto;
    transform: scale(2.2);
 }

 .modalbutton{
    background-color: var(--green);
    outline: none;
    border: none;
    padding: 1.4rem 0rem;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--dark-base);
    border-radius: 0.5rem;
    cursor: pointer;
 }